.sell-sheet {
    background-image: url("../../images/body-bg.png");
    background-repeat: no-repeat;
    background-size: 50%; 
}

@media only screen and (max-width: 576px) {
    
    .sell-sheet {
        background-repeat: no-repeat;
        background-size: 100%; 
    }
    
}

.sell-section {
    padding-top: 3em;
    padding-bottom: 3em;
}

.sell-text {
    text-align: left;
}

.sell-text h2{
    font-size: 2.5em;
    font-weight: 800;
    margin-top: 1em;
}

.sell-text h6{
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.75em;
    letter-spacing: 0.05em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.extra-padding {
    padding: 1em;
}


.sell1-image img{
    width: 100%;
    max-width: 36em;
}

.sell2-image img{
    width: 100%;
    max-width: 36em;
}

.sell3-image img{
    width: 100%;
    max-width: 40em;
}